<% layout("/layouts/boilerplate.ejs") %> <%-
include('../includes/searchBar.ejs') %>
<div class="m-0 filters-bar py-3 shadow-sm">
	<%- include("../includes/filters.ejs") %>
</div>
<div
	class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1"
>
	<% for( let listing of allListings ) { %>
	<a href="/listings/<%= listing._id %>" class="col mb-4 text-decoration-none">
		<div class="card h-100 bg-light">
			<img
				src="<%= listing.image.url %>"
				class="card-img-top"
				alt="listing_image"
			/>

			<div class="card-body h-auto p-0">
				<p class="card-text">
					<span class="card-title"
						><%= listing.location %>, <%= listing.country %></span
					><br />
					<span class="card-text"
						><span class="random-km text-muted"> Loading km...</span><br />
						<span class="nights text-muted toHide">Loading</span>
						<!-- <span class="dot px-1"></span> -->
						<span class="random-date text-muted"> Loading date...</span>
					</span>
				</p>
				<% let price = listing.price %>
				<p class="oldPrice pt-2">
					<b>&#8377;</b>&nbsp;<span class="price"><%= price %></span>
					<span> night</span>
				</p>

				<p class="text-decoration-underline pt-2 newPrice toHide">
					<b>&#8377;</b>&nbsp;<span class="priceNtax toHide"><%= price %></span>
					<span>total before taxes</span>
				</p>
				<!-- <p class="price priceNtax pt-2 text-decoration-underline">
					&#8377;&nbsp;<%# (listing.price).toLocaleString("en-IN") %><span>
						total before taxes</span
					>
				</p> -->
			</div>
		</div>
	</a>
	<% } %>
</div>
<script src="./js/randomDays.js"></script>
