<% layout("/layouts/boilerplate") %>

<div class="invisible">Spacing</div>
<div class="row col-lg-8 col-md-10 offset-md-1 offset-lg-2">
	<form
		action="/listings"
		method="POST"
		class="needs-validation"
		enctype="multipart/form-data"
		novalidate
	>
		<h4>Create a new listing</h4>

		<div class="mb-3">
			<label for="title" class="form-label">Title: </label>
			<input
				type="text"
				name="listing[title]"
				id="title"
				placeholder="Add a catchy title here"
				class="form-control"
				required
			/>
			<div class="valid-feedback">Looks good!</div>
		</div>

		<div class="mb-2">
			<label for="description" class="form-label">Description: </label>
			<textarea
				type="text"
				name="listing[description]"
				id="description"
				placeholder="Tell me more details..."
				class="form-control"
				required
			></textarea>
			<div class="valid-feedback">Looks good!</div>
		</div>

		<div class="mb-3">
			<label for="image" class="form-label">Upload Image:</label>
			<input
				class="form-control"
				type="file"
				id="image"
				name="listing[image]"
				required
			/>
		</div>

		<div class="row">
			<div class="mb-3 col-md-4">
				<label for="price" class="form-label">Price: </label>
				<input
					type="number"
					name="listing[price]"
					id="price"
					placeholder="Enter price per night"
					class="form-control"
					required
				/>
				<div class="invalid-feedback">Please enter a valid price.</div>
			</div>

			<div class="mb-3 col-md-8">
				<label for="country" class="form-label">Country: </label
				><input
					type="text"
					name="listing[country]"
					id="country"
					placeholder="Enter country"
					class="form-control"
					required
				/>
				<div class="invalid-feedback">Please provide a valid country.</div>
			</div>
		</div>

		<div class="mb-3">
			<label for="location" class="form-label">Location: </label>
			<input
				type="text"
				name="listing[location]"
				id="location"
				placeholder="House no./street/landmark, village/city/town"
				class="form-control"
				required
			/>
			<div class="invalid-feedback">Please provide a valid location.</div>
		</div>

		<label class="form-label">Select Amenities:</label>
		<% for (const category in amenities) { %>
		<h6><%= category %></h6>
		<ul class="list-unstyled d-flex flex-wrap">
			<% amenities[category].forEach(amenity => { %>
			<li class="d-flex align-items-center p-2">
				<input
					type="checkbox"
					class="btn-check"
					id="<%= amenity.name.replace(/\s+/g, '-') %>"
					name="listing[amenities]"
					value="<%= amenity.name %>"
					autocomplete="off"
				/>
				<label
					class="btn btn-outline-dark d-flex align-items-center p-3"
					for="<%= amenity.name.replace(/\s+/g, '-') %>"
				>
					<span class="me-2 d-flex align-items-center"
						><%- amenity.icon %></span
					>
					<%= amenity.name %>
				</label>
			</li>
			<% }); %>
		</ul>
		<% } %>

		<button
			type="submit"
			class="btn btn-danger col-lg-2 col-md-2 col-sm-3 col-3"
		>
			Add&nbsp; Now
		</button>
	</form>
</div>
