<% layout("/layouts/boilerplate") %>
<script>
	let mapToken = "<%= process.env.MAP_TOKEN %>";
	let listing = <%- JSON.stringify(listing) %>;
</script>

<div class="container">
	<div class="row">
		<h3 class="my-4 card-title"><%= listing.title %></h3>
		<div class="card bg-light">
			<img
				src="<%= listing.image.url %>"
				class="card-img-top show-img shadow"
				alt="Main_image"
			/>

			<%- include("../includes/showDetails.ejs") %>
		</div>
		<%- include("../includes/addReviews.ejs") %> <br />
		<%- include("../includes/allReviews.ejs") %>
	</div>
</div>

<!-- Map Goes Here -->
<div
	class="col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2 offset-0 border-top"
>
	<div class="col">
		<h4 class="mt-4">Where You'll be</h4>
		<div id="map" class="mt-4 shadow-sm rounded-1"></div>
	</div>
</div>
<div class="invisible" style="height: 20vh">Spacing</div>
<script src="../js/map.js"></script>
