<% layout("/layouts/boilerplate") %>

<div
	class="row col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2 offset-0"
>
	<div class="col">
		<div class="card mt-4 bg-light">
			<img
				src="<%= listing.image %>"
				class="card-img-top show-img shadow"
				alt="Main_image"
			/>

			<div class="card-body h-auto">
				<p class="card-text fw-medium">
					Owned by: <i><%= listing.owner.username %></i>
				</p>
				<h5 class="card-title"><%= listing.title %></h5>
				<p class="card-text fw-medium"><%= listing.description %></p>
				<p class="card-text fw-medium"><%= listing.location %></p>
				<span class="card-text fw-medium"><%= listing.country %></span>
				<p class="price pt-2">
					&#8377;&nbsp;<%= listing.price.toLocaleString("en-IN") %><span>
						night</span
					>
				</p>

				<% if (currUser && currUser._id.equals(listing.owner._id)) { %>
				<div class="btns d-flex mt-4">
					<a href="/listings/<%= listing._id %>/edit" class="btn btn-dark"
						>Edit</a
					>
					<form
						action="/listings/<%= listing._id %>?_method=DELETE"
						method="post"
					>
						<button class="btn btn-danger offset-3">Delete</button>
					</form>
				</div>
				<% } %>
			</div>
		</div>

		<% if (currUser) { %>
		<div class="reviews-section border-top mt-2">
			<h5 class="py-2 mt-2">Leave a review</h5>

			<form
				action="/listings/<%= listing._id %>/reviews"
				method="post"
				class="needs-validation"
				novalidate
			>
				<label for="rating" class="form-label">Rate Us: </label>
				<fieldset class="starability-slot d-block">
					<input
						type="radio"
						id="no-rate"
						class="input-no-rate"
						name="review[rating]"
						value="1"
						checked
						aria-label="No rating."
					/>
					<input
						type="radio"
						id="first-rate1"
						name="review[rating]"
						value="1"
					/>
					<label for="first-rate1" title="Terrible">1 star</label>
					<input
						type="radio"
						id="first-rate2"
						name="review[rating]"
						value="2"
					/>
					<label for="first-rate2" title="Not good">2 stars</label>
					<input
						type="radio"
						id="first-rate3"
						name="review[rating]"
						value="3"
					/>
					<label for="first-rate3" title="Average">3 stars</label>
					<input
						type="radio"
						id="first-rate4"
						name="review[rating]"
						value="4"
					/>
					<label for="first-rate4" title="Very good">4 stars</label>
					<input
						type="radio"
						id="first-rate5"
						name="review[rating]"
						value="5"
					/>
					<label for="first-rate5" title="Amazing">5 stars</label>
				</fieldset>

				<div class="form-floating">
					<textarea
						class="form-control my-2"
						placeholder="Leave a comment here"
						id="comment"
						style="height: 6rem"
						name="review[comment]"
						required
					></textarea>
					<label for="comment">Comments:</label>
					<div class="invalid-feedback">Please add a comment here.</div>
				</div>

				<button type="submit" class="btn btn-outline-dark my-2">Submit</button>
			</form>
		</div>
		<% } %>
		<!--  -->
	</div>
</div>

<!-- All Reviews -->
<div
	class="col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2 offset-0"
>
	<div
		class="row row-cols-xl-2 row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-1"
	>
		<% for( review of listing.reviews) { %>

		<div class="card my-3 bg-light">
			<div class="card-body h-auto p-0">
				<h6 class="card-title m-0"><%= review.author.username %></h6>
				<p class="card-subtitle text-body-secondary fs-6 mb-2">
					6 years on Airbnb
				</p>
				<small class="card-text fw-semibold">
					<p class="starability-result" data-rating="<%= review.rating %>"></p>
					· <%= new Date(review.createdAt).toDateString() %>
				</small>
				<p class="card-text mb-2 mt-0"><%= review.comment %></p>

				<div class="row row-cols-lg-3">
					<a href="#" class="card-link">Show More</a>
					<form
						action="/listings/<%= listing._id %>/reviews/<%= review._id %>/?_method=DELETE"
						method="post"
						class="m-0 p-0"
					>
						<button type="submit" class="btn btn-dark btn-sm">Delete</button>
					</form>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>

<div class="invisible" style="height: 20vh">Spacing</div>
