<% layout("/layouts/boilerplate") %>
<script>
	let mapToken = "<%= process.env.MAP_TOKEN %>";
	let listing = <%- JSON.stringify(listing) %>;
</script>
<div class="invisible" style="height: 20vh">Spacing</div>
<div class="container-lg">
	<div class="ro">
		<h3 class="my-4 card-title"><%= listing.title %></h3>
		<div class="card bg-light">
			<img
				src="<%= listing.image.url %>"
				class="card-img-top show-img shadow"
				alt="Main_image"
			/>

			<%- include("../includes/showDetails.ejs") %>
		</div>
		<%- include("../includes/addReviews.ejs") %> <br />
		<%- include("../includes/allReviews.ejs") %>
	</div>
</div>

<!-- Map Goes Here -->
<div class="container-lg border-top py-4">
	<div class="col-12 h-auto">
		<h4 class="mt-2">Where You'll be</h4>
		<div id="map" class="mt-5 shadow-sm rounded-4"></div>
	</div>
</div>
<div class="invisible" style="height: 20vh">Spacing</div>
<script src="../js/map.js"></script>
